/* Denna fil skall innehålla din CSS kod */
.wrapper {
    border: solid black 1px;
    height: 150vh;
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

nav {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:6vh;
    background-color: antiquewhite;
    font-family: sans-serif;
}

.navlinks {

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 40vh;
    top: 6vh;
    
    align-items: center;
    width: 20%;
    transition: all 0.5s;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    color:darkslategrey;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 20px;

}


.burger div {
    width: 25px;
    height:3px;
    background-color: darkslategrey;
    margin:5px;
    border-radius: 25%;
    transition: all 0.3s;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity:0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateX(100vh);
}

.nav{
    grid-area: nb;
}

.sections {
    display: flex;
}

.nav1 {
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: whitesmoke;
}

@media screen and (min-width: 768px){

    

}
    
    


