/* Denna fil skall innehålla din CSS kod */


.wrapper {
    
    border: solid 1px black;
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

nav {
    display:flex;
    justify-content: center;
    height: 8vh;
    background-color: rgb(27, 40, 01);
    font-family: 'Italianno', cursive;
    width: 100%;
    position: absolute;
    
}

.navlinks {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 35vw;
    top: 20px;
    
    font-family: 'Italianno', cursive;
    color:goldenrod;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 20px;
    position: absolute;
    
    
    
}

.navlinks li {
    list-style: none;
    
}

.navlinks a {
    color:goldenrod;
    
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 20px;
    text-decoration: underline;
    white-space: nowrap;
    
}





.sections {
    display: flex;
}

.head1 {
    /*index*/
    height: 50vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 70px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
    
    
    
    
}

.head2 {
    /*Produkts*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 35px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}

.head3 {
    /*Contakt*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 35px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}

.head4 {
    /*tailor*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 35px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}

.head5 {
    /*about us*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 35px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}

.head6 {
    /*cart*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 42px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
    
}

.sections2 {
    display: grid;
    grid-template-areas:
        "sec1 sec1"
        "sec3 sec2"
        "fot1 fot1"
    ;
}

.sec1 {
    display: grid;
    grid-area: sec1;
    height: 75vh;
    justify-content: center;
}

.sec2 {
    display: grid;
    grid-area: sec2;
    justify-content: center;
    height: 75vh;
}

.sec3 {
    display: grid;
    grid-area: sec3;
    height: 70vh;
    justify-content: center;

}

.fot1 {
    display: grid;
    grid-area: fot1;
    background-color: rgb(27, 40, 01);
    height: 52vh;
    
}

.paragraf1 {
    display: flex;
    justify-content: center;
    
}

.produktsmain {
    display: grid;
    grid-template-areas:
        "pr1 pr1"
        "pr2 pr2"
        "pr3 pr3"
        "pr4 pr4"
        "fot1 fot1"
    ;
}

.produkts1 {
    display: grid;
    grid-area: pr1;
    height: 75vh;
    justify-content: center;
    
}

.produkts2 {
    display: grid;
    grid-area: pr2;
    height: 75vh;
    justify-content: center;
}

.produkts3 {
    display: grid;
    grid-area: pr3;
    height: 75vh;
    justify-content: center;
}

.produkts4 {
    display: grid;
    grid-area: pr4;
    height: 60vh;
    justify-content: center;
}

.cart1 {
    display: flex;
}



.aboutus1 {
    display: flex;
    justify-self: center ;
    align-items: center;
    padding: 10px;
}



@media screen and (max-width: 768px){

 nav {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:6vh;
    background-color: rgb(27, 40, 01);
    font-family: 'Italianno', cursive;
    
}


.navlinks {

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 10px;
    height: 40vh;
    top: 6vh;
    background-color: rgb(27, 40, 01);
    align-items: center;
    width: 33%;
    transition: all 0.5s;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    color:goldenrod;
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 20px;
    text-decoration: underline;

}


.burger div {
    width: 25px;
    height:3px;
    background-color: goldenrod;
    margin:5px;
    border-radius: 25%;
    transition: all 0.3s;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity:0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateX(100vh);
}

.nav{
    grid-area: nb;
}

.head1 {
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 25px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}

.head2 {
    height: 35vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 25px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
    
}

.head3 {
    /*Contakt*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 23px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}

.head4 {
    /*tailor*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 20px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
    
}

.head5 {
    /*about us*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 30px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}

.head6 {
    /*cart*/
    height: 30vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Italianno', cursive;
    font-size: 25px;
    background-color: whitesmoke;
    grid-area: head;
    align-items: center;
}


}
    
    


